SC.LoggingPortal.LogAppender/Web References/SC.LoggingPortal.LogAppender.Service/SCLogger0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scloggingportalservice/SCLogger.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SC.LoggingPortal.Data.Entity" />
  <xs:element name="LogMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SC.LoggingPortal.Data.Entity" minOccurs="0" name="message" nillable="true" type="q1:LogMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>