SC.LoggingPortal.LogAppender/Web References/SC.LoggingPortal.LogAppender.Service/SCLogger.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SC.LoggingPortal.Data.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SC.LoggingPortal.Data.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scloggingportalservice/SCLogger.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LogMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Is64BitProcess" type="xs:boolean" />
          <xs:element minOccurs="0" name="LogLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogUserIdentity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoggerMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoggerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogMessage" nillable="true" type="tns:LogMessage" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>